@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");

:root {
  /*colors  */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-Gray: hsl(0, 0%, 41%);

  /* size */
  --min-fsize: 7.5rem;
  --ideal-fsize: 8vw;
  --max-fsize: 1rem;

  /* font styles */
  --alata-font: "Alata", sans-serif;
  --josefin-sans-font: "Josefin Sans", sans-serif;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

/* Utilities */
.push-left {
  margin-left: auto;
}

/* Navigation Styles */
.primary-navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2em;
  font-family: var(--alata-font);
  color: var(--white);
  font-size: var(--max-fsize);
  margin-bottom: 12rem;
}
.primary-navigation {
  width: 100%;
}

.navigation-container {
  background-image: url("/images/peakpx.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0rem 7rem 10rem 7rem;
}
.navigation-title {
  font-family: var(--alata-font);
  width: 50%;
  color: var(--white);
  font-size: 4rem;
  text-transform: capitalize;
  outline: 2px solid var(--white);
  outline-offset: 0.3rem;
  border-radius: 1px;
  background: #1f23b633;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 1.5rem;
}

.logo {
  width: 250px;
  height: auto;
}

main {
  padding: 3rem 10rem 3rem 10rem;
  display: grid;
  place-items: center;
}

main div {
  width: 70%;
  padding: 3rem;
  box-shadow: -23px 29px 24px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -23px 29px 24px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -23px 29px 24px -11px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background-color: #0b1b76;
  color: var(--white);
}
main div h2 {
  margin-bottom: 1rem;
  font-family: var(--alata-font);
  font-size: 5rem;
}
main div p {
  font-size: 1.5rem;
  color: var(--dark-gray);
}

footer {
  background-color: var(--black);
  padding: 0px 10rem 5rem 10rem;
  font-family: var(--josefin-sans-font);
}

footer div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div:nth-child(1) ul {
  display: flex;
  gap: 1.5rem;
  color: var(--white);
}
footer div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

footer div:nth-child(2) ul {
  display: flex;
  gap: 1rem;
  margin-top: -2rem;
}

footer div:nth-child(2) p {
  color: var(--dark-gray);
  margin-top: -2rem;
  font-size: 0.9rem;
}
