<body>
  <header class="d-flex">
    <section
      class="d-flex flex-column justify-content-center align-items-center "
    >
      <div class=" pt-4 padding-right-3 pb-4 bg-dark text-white text-center">
        <h1>VILLACARLOS, ALBERTO S.</h1>
        <p>WEB DEVELOPER</p>
      </div>
    </section>
    <section class="push-left p-4">
      <figure class="d-flex align-items-center">
        <img src="../assets/phone-icon.png" alt="an phone icon" />
        <figcaption>+123-456-7890</figcaption>
      </figure>
      <figure class="d-flex align-items-center">
        <img src="../assets/email-icon.png" alt="an email icon" />
        <figcaption>albertovillacarlos07@gmail.com</figcaption>
      </figure>
      <figure class="d-flex align-items-center">
        <img src="../assets/location-icon.png" alt="an email icon" />
        <figcaption>purok 4 dahlia st. Manibaug senura</figcaption>
      </figure>
    </section>
  </header>
</body>
<app-about></app-about>
<app-achievements></app-achievements>
<app-education></app-education>
<app-skill-and-references></app-skill-and-references>
